body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header, footer {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: auto;
}

header div span {
  color: #F9FAF8;
  font-size: 24px;
}

header div nav {
  display: flex;
  gap: 36px;
}

header div nav a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.constraint {
  max-width: 960px;
}

.hero-section {
  background-color: #1F2937;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero-section div {
  display: flex;
  flex: 1;
}

.hero-section div div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero-section div div span {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-section div div p {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-section div div button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
  padding: 8px 32px;

}

.hero-section div div img {
  align-self: flex-end;
  border-radius: 16px;
}